body {font-family: "Monospace", Monaco; background-color: #2a2a72; background-image: linear-gradient(to right, #2a2a72 0%, #009ffd 74%);}
h1 {font-size: 40px}
p{font-size: 20px; margin-left: 1cm; margin-right: 1cm;}
h2 {font-size: 30px}
h3{font-size: 25px}
h4{font-size: 20ox; color: white;}
.text1 {text-align: left;background-color: black; opacity: 0.7; color:white; }
.nav ul {list-style: none; background-color: #303030; text-align: center; padding: 15; margin: 0;}
.nav li {text-align: center; font-family: 'Oswald', sans-serif; font-size: 1.2em; line-height: 40px; height: 40px; border-bottom: 1px solid #888;}
.nav a {text-decoration: none; color: #fff; display: block; transition: .3s background-color;}
.nav a:hover { background-color: #005f5f;}
.nav a.active {background-color: #fff; color: #444; cursor: default;}
@media screen and (min-width: 600px) {
.nav li {width: 120px; border-bottom: none; height: 50px;line-height: 50px;font-size: 1.4em;}
.nav li {display: inline-block; margin-right: -4px;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
